
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ app_css }}">
    </head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{sub_domain}}/">Memex Phonetracker</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
      <div class="content">
        <div class="row text_center">
            <a href="{{sub_domain}}/routeclustering">
            <div class="col-md-4 gray_tin_border center">
                <h2 class="home-center-title" >Route Clustering</h2>
                <img src="{{sub_domain}}/static/img/rc.png" class="index_images">
            </div>
            </a>
            <a href="{{sub_domain}}/cityclustering">
            <div class="col-md-4 gray_tin_border center">
                <h2 class="home-center-title" >City Clusteting</h2>
                <img src="{{sub_domain}}/static/img/cc.png" class="index_images">
            </div>
            </a>
            <a href="{{sub_domain}}/concurrent_phone_viewer">
            <div class="col-md-4 gray_tin_border center">
                <h2 class="home-center-title" >Concurrent Phone Viewer</h2>
                <img src="{{sub_domain}}/static/img/cpv.png" class="index_images">
            </div>
            </a>
        </div>
      </div>
</div>

</body>
</html>
