
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <script src="{{ jquery }}"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
    <script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ simple_sidebar }}">
    <link rel="stylesheet" href="{{ app_css }}">
    </head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Memex</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li><a href="/phonelocator">Phone Locator <span class="sr-only">(current)</span></a></li>-->
        <li><a href="{{sub_domain}}/routeclustering">Route Clustering</a></li>
        <li class="active"><a href="{{sub_domain}}/cityclustering">Route Clustering by City</a></li>
        <li><a href="{{sub_domain}}/concurrent_phone_viewer">Concurrent Phone Viewer</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid full_height_width">
    <div class="row full_height_width">
        <div class="col-md-2" id="sidebar-wrapper" style="background-color: rgba(0, 0, 0, 0.7); max-width: 100%; overflow-x: hidden;">
                <ul class="sidebar-nav">
                    <div class="input-group col-md-12" id="phone_place_holder">
                        <span id="cluster_phone">No phone number found, click on cities</span>
                    </div>    
                </ul>
        </div>
        <div class="col-md-12 full_height_width">
            <div id="map" class="full_height_width"></div>
        </div>
        </div>
    </div>
</div>
<script>

var map = L.map('map',{zoomControl: true}).setView([0, 0], 2);
    mapLink =
    '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer(
    'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; ' + mapLink + ' Contributors',
    maxZoom: 18,
    }).addTo(map);
    map.zoomControl.setPosition('topright');

	map._initPathRoot()


	var svg = d3.select("#map").select("svg");
	var g = svg.append("g").attr("class", "leaflet-zoom-hide");
	var stateGroup = g.append('g');
	var selectedArcGroup = g.append('g');


var transform = d3.geo.transform({point: projectPoint}),
    path = d3.geo.path().projection(transform);


function projectPoint(x, y) {
  var point = map.latLngToLayerPoint(new L.LatLng(y, x));
  this.stream.point(point.x, point.y);
}

var data = JSON.parse('{{ all_cities|tojson|safe }}');

data.forEach(function(d) {
	d.LatLng = new L.LatLng(d.circle.coordinates[0], d.circle.coordinates[1])
})


d3.selectAll("circle").remove();
var feature = g.selectAll("circle")
    .data(data)
    .enter().append("circle")
    .style("stroke", "black")
    .style("opacity", .6)
    .style("fill", "red")
    .attr("r", 10);

var links = [];

feature.on({
    "click":  function(d) {
        d3.selectAll(".arc").remove();
        var city_state = d['city_state']
        var url='{{sub_domain}}/cityclustering/' + city_state;
        $.getJSON(url, function(d) {
            var data = d['phones'];
            links = [];
            for(var i=0, len=data.length; i<len; i++){
                links.push({
                    type: "LineString",
                    coordinates: [
                        [ data[i].lon1, data[i].lat1 ],
                        [ data[i].lon2, data[i].lat2 ]
                    ],
                    code: data[i].code,
                    phone: data[i].phone,
                    status: data[i].status
                });
            }
            var pathArcs = selectedArcGroup.selectAll(".selectedarc").data(links);
            pathArcs.enter()
                .append("path")
                .attr({'class': 'arc'})
                .style({fill: 'none',})
            d3.selectAll(".selectedarc")
                .attr({'value': function(d) { return d.phone }});
            pathArcs.attr({d: path})
                .style({"stroke": function(d){
                    if (d.status == "from"){
                        return "#ffcc00";
                    } else {
                        return "#00FFFF";
                    }
                } , "stroke-width": '2px', "stroke-opacity": 1})
            pathArcs.exit().remove();



                var found_phones = d['found_phones'];
                var city = d['city'];
                document.getElementById("cluster_phone").innerHTML = found_phones.length + ' phone numbers for ' + city + "<br>";
                document.getElementById("cluster_phone").innerHTML += "<span style='color:#ffcc00'> Entering </span>" + " " + "<span style='color:#00FFFF'> Exiting </span>";
                found_phones.forEach(function(entry){
                    document.getElementById("cluster_phone").innerHTML += '<li id="cluster_phone">' + entry[0]['phone'] + " (" + entry[0]['date']  + ') ' + entry[0]['status'] + '</li>';
                })
                }); <!--end of getJSON-->
     }
});


map.on("viewreset", update);
update();

function update() {
    feature.attr("transform",
    function(d) {
        return "translate("+
            map.latLngToLayerPoint(d.LatLng).x +","+
            map.latLngToLayerPoint(d.LatLng).y +")";
        }
    )

    d3.selectAll(".arc").remove();
            var pathArcs = selectedArcGroup.selectAll(".selectedarc").data(links);
            pathArcs.enter()
                .append("path")
                .attr({'class': 'arc'})
                .style({fill: 'none',})
            d3.selectAll(".selectedarc")
                .attr({'value': function(d) { return d.phone }});
            pathArcs.attr({d: path})
                .style({"stroke": function(d){
                    if (d.status == "from"){
                        return "#ffcc00";
                    } else {
                        return "#00FFFF";
                    }
                } , "stroke-width": '2px', "stroke-opacity": 1})
            pathArcs.exit().remove();
    }
    </script>
  </body>
</html>
