
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
        <meta charset="utf-8" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{sub_domain}}/static/css/simple-sidebar.css">
    <link rel="stylesheet" href="{{sub_domain}}/static/css/app.css">
    <link rel="stylesheet" href="{{sub_domain}}/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{sub_domain}}/static/css/bootstrap-datepicker3.min.css">


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{sub_domain}}/static/js/bootstrap-datepicker.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
    <script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{sub_domain}}/">Memex Phonetracker</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{sub_domain}}/routematching">Route Matching</a></li>
        <li><a href="{{sub_domain}}/cityreport">City Report</a></li>
        <li><a href="{{sub_domain}}/concurrent_phone_viewer">Concurrent Phone Viewer</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid full_height_width">
    <div class="row full_height_width">
        <div class="col-sm-4 col-md-3" style="height:100%; display: block;" id="main_sidebar">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#city">
                    <i class="fa fa-building-o" aria-hidden="true"></i> City</a></li>
                <li><a data-toggle="tab" href="#latlong">
                    <i class="fa fa-location-arrow" aria-hidden="true"></i> Latlong</a></li>
                <li><a data-toggle="tab disabled" href="#plot">
                    <i class="fa fa-map-marker disabled" aria-hidden="true"></i> Plot</a></li>
            </ul>
            <div class="tab-content">
                <div id="city" class="tab-pane fade in active">
                    <form action="/url" class="breathing-space">
                        <div class="row form-group">
                            <div class="col-xs-6" id="city_start_date_container"><input type="text" id="city_start_date" class="textfields" placeholder="Start Date (mm/dd/yyyy)"/></div>
                            <div class="col-xs-6" id="city_end_date_container"><input type="text" id="city_end_date" class="textfields" placeholder="End Date (mm/dd/yyyy)"/></div>
                        </div>
                        <div id="cities_box">
                            <div class="row form-group">
                                <div class="col-xs-8"><input type="text" class="textfields" placeholder="City Name" name="city_name"/></div>
                                <div class="col-xs-3"><input type="text" class="textfields" placeholder="Radius" name="city_radius"/></div>
                                <div class="col-xs-1">mile</div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-8"><input type="text" class="textfields" placeholder="City Name" name="city_name"/></div>
                                <div class="col-xs-3"><input type="text" class="textfields" placeholder="Radius" name="city_radius"/></div>
                                <div class="col-xs-1">mile</div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12"><a href="javascript:add_city_textbox()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add a city</a></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12"><input type="button" class="btn btn-primary btn-block" value="Search" onclick="city_search()"></div>
                        </div>
                    </form>
                    <div id="city_search_results"></div>
                </div>
                <div id="latlong" class="tab-pane fade">
                    <form action="/url" class="breathing-space">
                        <div class="row form-group">
                            <div class="col-xs-6" id="latlon_start_date_container"><input type="text" id="latlon_start_date" class="textfields" placeholder="Start Date (mm/dd/yyyy)"/></div>
                            <div class="col-xs-6" id="latlon_end_date_container"><input type="text" id="latlon_end_date" class="textfields" placeholder="End Date (mm/dd/yyyy)"/></div>
                        </div>
                        <div id="latlon_box">
                            <div class="row form-group">
                                <div class="col-xs-8"><input type="text" class="textfields" placeholder="Latitude" name="latitude"/></div>
                                <div class="col-xs-8"><input type="text" class="textfields" placeholder="Longitude" name="longitude"/></div>
                                <div class="col-xs-3"><input type="text" class="textfields" placeholder="Radius" name="latlon_radius"/></div>
                                <div class="col-xs-1">mile</div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-8"><input type="text" class="textfields" placeholder="Latitude" name="latitude"/></div>
                                <div class="col-xs-8"><input type="text" class="textfields" placeholder="Longitude" name="longitude"/></div>
                                <div class="col-xs-3"><input type="text" class="textfields" placeholder="Radius" name="latlon_radius"/></div>
                                <div class="col-xs-1">mile</div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12"><a href="javascript:add_latlon_textbox()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add latitude and longitude</a></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12"><input type="button" class="btn btn-primary btn-block" value="Search" onclick="latlon_search()"></div>
                        </div>
                    </form>
                    <div id="latlon_search_results"></div>
                </div>
                <div id="plot" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Some content in menu 2.</p>
                </div>
            </div>
            <hr/>
        </div>
        <div class="col-sm-4 col-md-3" style="overflow:auto; height: 100%; display: none;" id="selected_identity_info"></div>
        <div class="col-md-9 full_height_width">
            <div id="map" class="full_height_width"></div>
        </div>
    </div>
</div>


<script>

var width = 960;
var height = 960;
var links = [];
var cluster = [];

var map = L.map('map',{zoomControl: true}).setView([30, -30], 2);
    mapLink =
    '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer(
    'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; ' + mapLink + ' Contributors',
    maxZoom: 18,
    }).addTo(map);
    map.zoomControl.setPosition('topright');
	map._initPathRoot()

var svg = d3.select("#map").select("svg");
var g = svg.append("g").attr("class", "leaflet-zoom-hide");
var arcGroup = g.append('g');

var transform = d3.geo.transform({point: projectPoint}),
    path = d3.geo.path().projection(transform);

function projectPoint(x, y) {
  var point = map.latLngToLayerPoint(new L.LatLng(y, x));
  this.stream.point(point.x, point.y);
}

d3.selection.prototype.moveToFront = function() {
      return this.each(function(){
  this.parentNode.appendChild(this);
  });
 }

function draw_route(entity_id, entity_hop_num){
    links = [];
    var lats = [];
    var lons = [];
        for(var i=0, len=cluster.length; i<len; i++){
            if (cluster[i]['phone'] == entity_id){
                    links.push({
                        type: "LineString",
                        id: "line_"+i,
                        coordinates: cluster[i].points,
                        code: cluster[i].code,
                        phone: cluster[i].phone,
                        start_date: cluster[i].start_date,
                        end_date: cluster[i].end_date,
                        start_city: cluster[i].start_city,
                        end_city: cluster[i].end_city,
                    });
                    lats.push(cluster[i].points[0][1]);
                    lats.push(cluster[i].points[1][1]);
                    lons.push(cluster[i].points[0][0]);
                    lons.push(cluster[i].points[1][0]);
                }
              }

    var pathArcs = arcGroup.selectAll(".arc").data(links);

    pathArcs.enter()
        .append("path")
        .attr({'class': 'arc'})
        .style({fill: 'none'});

    var all_paths = d3.selectAll(".arc");
    all_paths
      .attr({'id': function(d) { return d.id }})
      .attr({'value': function(d) { return d.phone }});
        pathArcs.attr({
            d: path
        })
        .style({
            "stroke": function(d) { if (d.phone == 'selected_cities') {return '#606060'} else {return '#224be2'} },
            "stroke-width": '2px',
            "stroke-opacity": 1,
        })
    pathArcs.exit().remove();

    if (entity_id != 'selected_cities'){
        document.getElementById("main_sidebar").style.display = "none";
        document.getElementById("selected_identity_info").style.display = "block";
        document.getElementById("selected_identity_info").innerHTML = '<a href="javascript:close_identity_info_box()"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right;"></span></a>'
        document.getElementById("selected_identity_info").innerHTML += '<h3>' + entity_id + '</h3> <p>Matched '+ entity_hop_num +' hops</p>';

        links.forEach(function (element){
            var selected_identity_info_div = document.getElementById('selected_identity_info');
            selected_identity_info_div.innerHTML += "<div onmouseover=\"mouseover_result_hope('" + element['id'] + "')\"  onmouseout=\"mouseout_result_hope('" + element['id'] + "')\">" + element['start_city'] + " (" + element['start_date'] + ") - " + element['end_city'] + " (" + element['end_date'] + ")</div> <hr>"
        })
    }
    var max_lat = parseFloat(Math.max.apply(Math, lats));
    var min_lat = parseFloat(Math.min.apply(Math, lats));
    var max_lon = parseFloat(Math.max.apply(Math, lons));
    var min_lon = parseFloat(Math.min.apply(Math, lons));
    map.fitBounds([[max_lat, min_lon], [min_lat, max_lon]]);
    update();
    map.on("viewreset", update);
 }


function update() {
    d3.selectAll(".arc").remove();
     var pathArcs = arcGroup.selectAll(".arc").data(links);

        pathArcs.enter()
            .append("path")
            .attr({
                'class': 'arc'
            }).style({
                fill: 'none',
            });

        d3.selectAll(".arc")
          .attr({'id': function(d) { return d.id }})
          .attr({'value': function(d) { return d.phone }});
            pathArcs.attr({
                d: path
            })
            .style({
                "stroke": function(d) { if (d.phone == 'selected_cities') {return '#606060'} else {return '#224be2'} },
                "stroke-width": function(d) { if (d.phone == 'selected_cities') {return '4px'} else {return '2px'} },
                "stroke-opacity": 1,
            })
        pathArcs.exit().remove();
    }


function city_search(){
    cluster = [];
    var city_search_results_div = document.getElementById('city_search_results');
    city_search_results_div.innerHTML = "Searching . . ."

    var data = {}
    var city_radius_data = [];
    var start_date = document.getElementById("city_start_date").value;
    var end_date = document.getElementById("city_end_date").value;
    var cities = document.getElementsByName("city_name");
    var radiuses = document.getElementsByName("city_radius");
    for (i=0; i<cities.length; i++){
        var tmp = {};
        tmp[cities[i].value] = radiuses[i].value;
        city_radius_data.push(tmp);
    }
    data['cities'] = city_radius_data;
    data['start_date'] = start_date;
    data['end_date'] = end_date;

    jQuery.ajax({
                data: JSON.stringify(data),
                type: 'POST',
                url: '{{sub_domain}}/routematching/search',
                dataType: "JSON",
                contentType:'application/json',
                success: function(data){
                    cluster = data['cluster'];
                    draw_route('selected_cities', 0);
                    city_search_results_div.innerHTML = ""
                    data['entity_found'].forEach(function (element){
                        city_search_results_div.insertAdjacentHTML('beforeend', '<a href="javascript:draw_route(\''+ element[0] + '\',\'' + element[1] + '\')"><h3>'+ element[0] +'</h3></a>' );
                        city_search_results_div.insertAdjacentHTML('beforeend', '<p>Matched '+ element[1] +' hops</p>' );
                    });
                }
    });
}


function latlon_search(){
    cluster = [];
    var city_search_results_div = document.getElementById('latlon_search_results');
    city_search_results_div.innerHTML = "Searching . . ."

    var data = {}

    var latlon_radius_data = [];

    var start_date = document.getElementById("latlon_start_date").value;
    var end_date = document.getElementById("latlon_end_date").value;
    var latitudes = document.getElementsByName("latitude");
    var longitudes = document.getElementsByName("longitude");
    var radiuses = document.getElementsByName("latlon_radius");
    for (i=0; i<latitudes.length; i++){
        var tmp = {};
        tmp[[latitudes[i].value,longitudes[i].value]] = radiuses[i].value;
        latlon_radius_data.push(tmp);
    }
    data['latlon'] = latlon_radius_data;
    data['start_date'] = start_date;
    data['end_date'] = end_date;

    jQuery.ajax({
                data: JSON.stringify(data),
                type: 'POST',
                url: '{{sub_domain}}/routematching/search',
                dataType: "JSON",
                contentType:'application/json',
                success: function(data){
                    cluster = data['cluster'];
                    city_search_results_div.innerHTML = ""
                    data['entity_found'].forEach(function (element){
                        city_search_results_div.insertAdjacentHTML('beforeend', '<a href="javascript:draw_route(\''+ element[0] + '\',\'' + element[1] + '\')"><h3>'+ element[0] +'</h3></a>' );
                        city_search_results_div.insertAdjacentHTML('beforeend', '<p>Matched '+ element[1] +' hops</p>' );
                    });
                }
    });
}


function add_city_textbox(){
    var div = document.getElementById('cities_box');
    div.insertAdjacentHTML('beforeend', '<div class="row form-group"> \
                                            <div class="col-xs-8">\
                                                <input type="text" class="textfields" placeholder="City Name" name="city_name"/>\
                                            </div>\
                                            <div class="col-xs-3">\
                                                <input type="text" class="textfields" placeholder="Radius" name="city_radius"/>\
                                            </div>\
                                            <div class="col-xs-1">\
                                                mile\
                                            </div>\
                                        </div>');
}

function add_latlon_textbox(){
    var div = document.getElementById('latlon_box');
    div.insertAdjacentHTML('beforeend', '<div class="row form-group"> \
                                <div class="col-xs-8"><input type="text" class="textfields" placeholder="Latitude" name="latitude"/></div>\
                                <div class="col-xs-8"><input type="text" class="textfields" placeholder="Longitude" name="longitude"/></div>\
                                <div class="col-xs-3"><input type="text" class="textfields" placeholder="Radius" name="latlon_radius"/></div>\
                                <div class="col-xs-1">mile</div>\
                            </div>');
}


function close_identity_info_box(){
    d3.selectAll(".arc").remove();
    document.getElementById("main_sidebar").style.display = "block";
    document.getElementById("selected_identity_info").style.display = "none";
    draw_route('selected_cities', 0);
}

function mouseover_result_hope(id){
    var selection = d3.selectAll("#"+id).style("stroke", "#ff0000");
    d3.selectAll("#"+id).style("stroke-opacity", "1");
    d3.selectAll("#"+id).style("stroke-width", "3.5px");
    selection.moveToFront();
}

function mouseout_result_hope(id) {
    d3.selectAll("#"+id).style("stroke", "#224be2");
    d3.selectAll("#"+id).style("stroke-opacity", "1");
    d3.selectAll("#"+id).style("stroke-width", "2px");
}

var startDate = new Date('{{min_date}}');
var endDate = new Date('{{max_date}}');

$('#city_start_date_container input').datepicker({startDate: startDate, endDate: endDate});
$('#city_end_date_container input').datepicker({startDate: startDate, endDate: endDate});
$('#latlon_start_date_container input').datepicker({startDate: startDate, endDate: endDate});
$('#latlon_end_date_container input').datepicker({startDate: startDate, endDate: endDate});

</script>
</body>
</html>
